# Jupyter Notebook checkpoints
.ipynb_checkpoints/
.spark-staging-b4dd854d-042a-41a0-ad07-a9edb1315137/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Spark/Hadoop files
metastore_db/
derby.log
spark-warehouse/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

